/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #808285;
}

.loader {
  border-width: 4px;
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
  border-color: #38b2ac;
  border-top-color: transparent;
}

/* Background image container */
.singlepage {
  position: relative; /* Ensure relative positioning for the pseudo-element */
  background-image: url("../components/assests/estate.jpg");
  background-position: center;
  background-size: cover; /* Ensures the image covers the entire space */
  background-repeat: no-repeat;
  /* border-radius: 40px; */
  /* min-width: 100%; */
  min-height: 100vh; /* Allow the height to expand based on content */
}


/* Overlay on top of the background image */
.singlepage::before {
  content: ''; /* Creates an empty pseudo-element */
  position: absolute; /* Position it relative to .singlepage */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Make the overlay fill the entire .singlepage */
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 1; /* Ensure the overlay is above the background image but below content */
}

/* Content that will be placed above the overlay */
.content {
  position: relative; /* Ensure content is above the overlay */
  z-index: 2; /* Place content above the overlay */
  padding: 20px; /* Add padding to your content */
}
/* Background image container */
.book {
  position: relative; /* Ensure relative positioning for the pseudo-element */
  background-image: url("../components/assests/estate.jpg");
  background-position: center;
  background-size: cover; /* Ensures the image covers the entire space */
  background-repeat: no-repeat;
  /* border-radius: 40px; */
  /* min-width: 100%; */
  min-height: auto; /* Allow the height to expand based on content */
}


/* Overlay on top of the background image */
.book::before {
  content: ''; /* Creates an empty pseudo-element */
  position: absolute; /* Position it relative to .singlepage */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Make the overlay fill the entire .singlepage */
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 1; /* Ensure the overlay is above the background image but below content */
}

/* Content that will be placed above the overlay */
.book {
  position: relative; /* Ensure content is above the overlay */
  z-index: 2; /* Place content above the overlay */
  padding: 20px; /* Add padding to your content */
}

